@import helper._
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css-templates/treviso/css/style.css")">
    
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/new-style.css")">
    <script src="@routes.Assets.versioned("javascripts/libs/jquery-2.1.4.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/libs/jquery.cookie.js")"></script>
  </head>
  <body>
	<div class="frost-section">
        <div class="display-area">
            <h1>Email sent!</h1>
            <div class="label">Help Instructions have been sent to the registered email address! Please make sure info@@airline-club.com is not blocked by your spam filter.</div>
        </div>
	</div>        
</body>    
</html>