@(message: String)
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css-templates/treviso/css/style.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.cookie.js")"></script>
    <!-- <script src="@routes.Assets.versioned("javascripts/highcharts.js")"></script> -->
    <!-- <script src="@routes.Assets.versioned("javascripts/plot-highcharts.js")"></script> -->
    <script type="text/javascript" src="@routes.Assets.versioned("fusioncharts/fusioncharts.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("fusioncharts/fusioncharts.widgets.js")"></script>
	<script type="text/javascript" src="@routes.Assets.versioned("fusioncharts/themes/fusioncharts.theme.zune.js")"></script>
	<script type="text/javascript" src="@routes.Assets.versioned("fusioncharts/fusioncharts-jquery-plugin.js")"></script>
	<script src="@routes.Assets.versioned("javascripts/plot-fusioncharts.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/airport.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/airplane.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/airline.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/gadgets.js")"></script>
  </head>
  <body>
  	<input type="hidden" id="floatMessage" value="@message"/>
  	<div id="floatMessageBox" style="height: 30px; width: 400px; display: none;"></div>
  	<div id="floatBackButton" style="display: none;" class="button" onclick="setActiveDiv($('#map')); $(this).hide()">Back to World Map</div>
  	<div id="topBar" data-scroll="false" class="menubar">
  		<div style="float: left;">
  			<span id="currentAirline" class="label"></span> 
  			Balance: <span id="balance" class="label"></span> 
  			Reputation: <span id="reputation" class="label"></span> 
  			Service Quality: <span id="serviceQuality" class="label"></span>
  			Service Funding: <input type="text" id="serviceFunding"/>
  			<img src='@routes.Assets.versioned("images/icons/tick.png")' class='button' style="vertical-align: middle;" onclick="updateServiceFunding()"/>
  			Maintenance Quality: <span id="maintenanceQualityGauge"></span>
  			<input type="hidden" id="maintenanceQuality"/>
  			<img src='@routes.Assets.versioned("images/icons/tick.png")' class='button' style="vertical-align: middle;" onclick="updateMaintenanceQuality()"/>
  		</div>
  		<div style="float: right;">
  			<div style="display: hidden;" id="loginDiv">
	  			<span class="label">User Name</span>
	  			<input type="text" id="loginUserName"/>
	  			<span class="label">Password</span>
	  			<input type="password" id="loginPassword"/>
	  			<div class="button" onclick="login()">Login</div>
	  			<a href="signup"><div class="button" onclick="">Sign Up</div></a>
  			</div>
  			<div style="float: right; display: hidden;" id="logoutDiv">
  				<span id="currentUserName" class="label"></span>
  				<div class="button" onclick="logout()">Logout</div> 
  			</div>
		</div>
  	</div>
  	<div id="main" style="width: 100%" >
  		<div id="linkHistoryButton" class="googleMapButton" onclick="toggleLinkHistory()" align="center"><span class="alignHelper"></span><img src='@routes.Assets.versioned("images/icons/footprints.png")' style="vertical-align: middle;"/></div>
		<div id="vipButton" class="googleMapButton" onclick="showVipRoutes()" align="center"><span class="alignHelper"></span><img src='@routes.Assets.versioned("images/icons/star.png")' style="vertical-align: middle;"/></div>
  	<!-- main canvas start -->
  		<div id="canvas" style="width: 80% ; float: left;" >
  			<div id="map" data-headquarter-marker='@routes.Assets.versioned("images/markers/headquarter.png")' data-base-marker='@routes.Assets.versioned("images/markers/base.png")' data-large-airport-marker='@routes.Assets.versioned("images/markers/airport-darker.png")' data-medium-airport-marker='@routes.Assets.versioned("images/markers/airport.png")'  data-small-airport-marker='@routes.Assets.versioned("images/markers/airport-lighter.png")'></div>
  			<div id="airportCanvas" style="display: none;">
  				<div id="airportMap" style=" height: 500px ; width: 550px; float: left;" data-city-marker='@routes.Assets.versioned("images/markers/city.png")' data-town-marker='@routes.Assets.versioned("images/markers/town.png")'  data-village-marker='@routes.Assets.versioned("images/markers/village.png")' data-airport-marker='@routes.Assets.versioned("images/markers/airport.png")'></div>
  				<div id="airportStatistics" style="width: 900px; height: 400px; float: left;" class="section">
	  				<div style="float: left;">
	  					<h5 align="center">Airline share (as Departure)</h5>
	  					<div id="airlineDeparturePie" style="height: 160px; width: 300px;" align="center"></div>
	  				</div>
	  				<div style="float: left;">	
	  					<h5 align="center">Airline share (as Arrival)</h5>
	  					<div id="airlineArrivalPie" style="height: 160px; width: 300px;" align="center"></div>
	  				</div>
	  				<div style="float: left;">
	  					<h5 align="center">Initial Departure from this Airport</h5>
	  					<div id="departurePie" style="height: 160px; width: 300px;" align="center"></div>
					</div>
	  				<div style="float: left;">
	  					<h5 align="center">Final Destination as this Airport</h5>	
	  					<div id="destinationPie" style="height: 160px; width: 300px;" align="center"></div>
	 				</div>
	  				<div style="float: left;">
	  					<h5 align="center">Connection flight from this Airport</h5>
	  					<div id="connectionFromPie" style="height: 160px; width: 300px;" align="center"></div>
	  				</div>
	  				<div style="float: left;">
	  					<h5 align="center">Connection flight to this Airport</h5>
	  					<div id="connectionToPie" style="height: 160px; width: 300px;" align="center"></div>
	  				</div>
  				</div>
  			</div>
  		</div>
  	<!-- main canvas end -->
  		
  		<div id="leftPanel" style="width: 20% ; float: right;" >
	    	<div id="airplaneListPanel">
	    		<h4>Airplanes</h4>
	    		<div id="airplaneList"> </div>
	   		</div>
   			<div id="airplaneDetails" style="width: 100%;">
    			<div class="table" style="width: 100%">
   					<div class="table-row">
	    				<div class="label"><h5>Aircraft Id:</h5></div>
	    				<div class="value" id="airplaneDetailsId"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Model Name:</h5></div>
	    				<div class="value" id="airplaneDetailsName"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Capacity:</h5></div>
	    				<div class="value" id="airplaneDetailsCapacity"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Fuel Burn:</h5></div>
	    				<div class="value" id="airplaneDetailsFuelBurn"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Flight Range:</h5></div>
	    				<div class="value" id="airplaneDetailsRange"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Aircraft Condition:</h5></div>
	    				<div class="value" id="airplaneDetailsCondition"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Aircraft Age:</h5></div>
	    				<div class="value" id="airplaneDetailsAge"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Selling Value:</h5></div>
	    				<div class="value" id="airplaneDetailsValue"></div>
	    			</div>
	    			<div class="table-row">
	    				<div class="label"><h5>Assigned Route:</h5></div>
	    				<div class="value" id="airplaneDetailsLink"></div>
	    			</div>
	    		</div>
	  			<input type="hidden" id="actionAirplaneId"></input>
	   			<div class="button" onclick="sellAirplane($('#actionAirplaneId').val())">Sell Aircraft</div>
	   		</div>
		   		
	    	<div>
	    		Buy aircraft:<br/>
	    		Model : <select id="airplaneModelOption" onchange="updateModelInfo()"></select><br/>
	    		Quantity :  <input type="text" id="airplaneQuantity" value="1"/>
	    		<div id="modelInfo"></div> 
	    		<div class="button" onclick="addAirplane($('#airplaneModelOption').val(), $('#airplaneQuantity').val())">Purchase Aircrafts</div>
	    	</div>
	    </div>
	    <div id="bottomPanel" style="width: 80% ; float: left;" >
	    	<div id="linkListPanel" style="width: 30% ; float: left;">
	    		<h4>Routes</h4>
	    		<div id="linkList"> </div>	
	    	</div>
	    	<div id="detailsPanel" style="width: 70% ; float: left;">
	    		<div id="linkDetails" style="width: 100%; display: none;">
	    			<div style="width: 50%; float: left">
		    			<div class="table" id="linkCurrentDetails" style="width: 100%">
	    					<h4>Current Details</h4>
		    				<div class="table-row">
			    				<div class="label"><h5>From:</h5></div>
			    				<div class="value" id="linkFromAirport"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>To:</h5></div>
			    				<div class="value" id="linkToAirport"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Distance:</h5></div>
			    				<div class="value" id="linkDistance"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Price:</h5></div>
			    				<div class="value" id="linkCurrentPrice"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Overall Quality:</h5></div>
			    				<div class="value" id="linkQuality"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Capacity:</h5></div>
			    				<div class="value" id="linkCurrentCapacity"></div>
			    			</div>
			    		</div>
			    		<div class="divider"></div>
			    		<div class="table" id="linkHistoryDetails" style="width: 100%">
		    				<h4>History</h4>	
			    			<div class="table-row">
			    				<div class="label"><h5>Price:</h5></div>
			    				<div class="value" id="linkHistoryPrice"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Capacity:</h5></div>
			    				<div class="value" id="linkHistoryCapacity"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Load Factor:</h5></div>
			    				<div class="value" id="linkLoadFactor"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Profit:</h5></div>
			    				<div class="value" id="linkProfit"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Revenue:</h5></div>
			    				<div class="value" id="linkRevenue"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Fuel Cost:</h5></div>
			    				<div class="value" id="linkFuelCost"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Crew Cost:</h5></div>
			    				<div class="value" id="linkCrewCost"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Airport Fees:</h5></div>
			    				<div class="value" id="linkAirportFees"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Airplane Depreciation:</h5></div>
			    				<div class="value" id="linkDepreciation"></div>
			    			</div>
			    			<div class="table-row">
			    				<div class="label"><h5>Other Costs:</h5></div>
			    				<div class="value" id="linkOtherCosts"></div>
			    			</div>
		    			</div>
		    			
		    			<input type="hidden" id="actionLinkId"></input>
		    			<input type="hidden" id="linkFromAirportId"></input>
		    			<input type="hidden" id="linkToAirportId"></input>
		    			<div class="button" onclick="editLink($('#actionLinkId').val())">Edit</div>
		    			<div class="button" onclick="watchLink($('#actionLinkId').val())">Watch</div>
		    			<div class="button" onclick="deleteLink($('#actionLinkId').val())">Delete</div>
		    		</div>
		    		
	    			<div id="linkProfitChart" style="height: 200px; width: 50%; float: left;"></div>
	    			<div id="linkRidershipChart" style="height: 200px; width: 50%; float: left;"></div>
	    		</div>
    			<div id="planLinkDetails" style="width: 100%; display: none;">
    				<h4>Plan Route Details</h4>
		    		<div class="table" style="width: 100%">
		    			<input type="hidden" id="planLinkFromAirportId"/>
		    			<input type="hidden" id="planLinkToAirportId"/>
			    		<div class="table-row">
			    			<div class="label"><h5>From:</h5></div>
			    			<div class="value" id="planLinkFromAirportName"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>To:</h5></div>
			    			<div class="value" id="planLinkToAirportName"></div>
			    		</div>
		    			<div class="table-row">
			    			<div class="label"><h5>Distance:</h5></div>
			    			<div class="value" id="planLinkDistance"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Direct Demand:</h5></div>
			    			<div class="value" id="planLinkDirectDemand"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Business Passengers:</h5></div>
			    			<div class="value" id="planLinkBusinessPassengers"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Tourist Passengers:</h5></div>
			    			<div class="value" id="planLinkTouristPassengers"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Existing Routes Capacity:</h5></div>
			    			<div class="value" id="planLinkAirportLinkCapacity"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Aircraft Model:</h5></div>
			    			<div class="value"><select id="planLinkModelSelect" onchange="updatePlanLinkInfoWithModelSelected($(this).val())"></select></div>
			    		</div>
			    	</div>
			    	<div class="table" style="width: 100%" id="planLinkExtendedDetails">
			    		<div class="table-row">
			    			<div class="label"><h5>Airplanes:</h5></div>
			    			<div class="value"><select id="planLinkAirplaneSelect" multiple="multiple" onchange="updateFrequencyBar($('#planLinkModelSelect').val())"></select></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Flight Duration:</h5></div>
			    			<div class="value" id="planLinkDuration"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Price:</h5></div>
			    			<div class="value">
			    				<input type="text" id="planLinkEconomyPrice"/>
			    				<input type="text" id="planLinkBusinessPrice"/>
			    				<input type="text" id="planLinkFirstPrice"/>
			    			</div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Flight Frequency:</h5></div>
			    			<!--  <div class="value"><input type="text" id="planLinkFrequency"/></div> -->
			    			<div class="value"><div id="frequencyBar" data-empty-icon='@routes.Assets.versioned("images/icons/airplane-empty.png")' data-fill-icon='@routes.Assets.versioned("images/icons/airplane.png")'></div>
			    			<input type="hidden" id="planLinkFrequency" value="1"/></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"></div>
			    			<div class="value" style="padding-bottom: 15px"><h6><span id="planLinkLimitingFactor"></span></h6></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Seat Configurations:</h5></div>
			    			<div class="value"><div id = "seatConfigurationGauge"></div></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="label"><h5>Service Level:</h5></div>
			    			<div class="value"><div id="serviceLevelBar"  data-empty-icon='@routes.Assets.versioned("images/icons/star-empty.png")' data-fill-icon='@routes.Assets.versioned("images/icons/star.png")'></div>
			    			<input type="hidden" id="planLinkServiceLevel" value="1"/></div>
			    		</div>
			    		<div class="button" id="addLinkButton" onclick="createLink()">Create</div>
			    		<div class="button" id="updateLinkButton" onclick="createLink()">Update</div>
		    		</div>
		    	</div>
	    	</div>
	    </div>
	     
	    <div style="clear:both"/>
    </div>
    
    <div style="display: none; width: 100%;" id="airportPopup">
    	<input type="hidden" id="airportPopupId"></input>
    	<div>
    		<span id="airportPopupName" class="header"></span><img title="View Airport Details" src='@routes.Assets.versioned("images/icons/information-24.png")' class="button" onclick="showAirportDetails($('#airportPopupId').val())">
    	</div>
    	<div id="airportIcons">
    		<img alt="Your Headquarter" title="Your Headquarter" src='@routes.Assets.versioned("images/icons/building-hedge.png")' id="popupHeadquarterIcon"><img alt="Your Base" title="Your Base" src='@routes.Assets.versioned("images/icons/building-low.png")' id="popupBaseIcon">
    	</div>
    	<div class="button" id="buildHeadquarterButton" style="display: none;" onclick="buildBase($('#airportPopupId').val(), true)">Build Headquarter</div>
    	<div class="button" id="buildBaseButton" style="display: none;" onclick="buildBase($('#airportPopupId').val(), false)">Build Base</div>
    	<div class="table" style="width: 100%">
   			<div class="table-row">
   				<div class="label"><h5>IATA code:</h5></div>
   				<div class="value" id="airportPopupIata"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>City:</h5></div>
   				<div class="value" id="airportPopupCity"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Country code:</h5></div>
   				<div class="value"><span id="airportPopupCountryCode"></span></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Airport scale:</h5></div>
   				<div class="value" id="airportPopupSize"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Population coverage:</h5></div>
   				<div class="value" id="airportPopupPopulation"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Average income level:</h5></div>
   				<div class="value" id="airportPopupIncomeLevel"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Slots available (airport total):</h5></div>
   				<div class="value" id="airportPopupSlots"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Slots held by your airline (max possible):</h5></div>
   				<div class="value" id="airportPopupAssignedSlots"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Awareness of your airline:</h5></div>
   				<div class="value" id="airportPopupAwareness"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Loyalty to your airline:</h5></div>
   				<div class="value" id="airportPopupLoyalty"></div>
   			</div>
		</div>
		<div class="button" id="planFromAirportButton">Plan Route (from airport)</div>
		<div class="button" id="planToAirportButton">Plan Route (to airport)</div>
    </div>
    
     <div style="display: none; width: 100%;" id="cityPopup">
    	<input type="hidden" id="cityPopupId"></input>
    	<div id="cityPopupName" class="header"></div>
    	<div id="cityIcons">
    		<!-- <img alt="Your Headquarter" title="Your Headquarter" src='@routes.Assets.versioned("images/icons/building-hedge.png")' id="popupHeadquarterIcon"><img alt="Your Base" title="Your Base" src='@routes.Assets.versioned("images/icons/building-low.png")' id="popupBaseIcon">  -->
    	</div>
    	<div class="table" style="width: 100%">
   			<div class="table-row">
   				<div class="label"><h5>Country code:</h5></div>
   				<div class="value" id="cityPopupCountryCode"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Population:</h5></div>
   				<div class="value" id="cityPopupPopulation"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Average income level:</h5></div>
   				<div class="value" id="cityPopupIncomeLevel"></div>
   			</div>
		</div>
		
		<div id="cityPie" style="height: 200px; width: 350px;"></div>
    </div>
    
    <div style="display: none; width: 100%;" id="linkHistoryPopup">
    	<input type="hidden" id="linkHistoryPopupId"></input>
    	<div class="table" style="width: 100%">
   			<div class="table-row">
   				<div class="label"><h5>From :</h5></div>
   				<div class="value" id="linkHistoryPopupFrom"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>To:</h5></div>
   				<div class="value" id="linkHistoryPopupTo"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Passengers of your airline:</h5></div>
   				<div class="value" id="linkHistoryThisAirlinePassengers"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Passengers of other airline:</h5></div>
   				<div class="value" id="linkHistoryOtherAirlinePassengers"></div>
   			</div>
		</div>
    </div>
    
    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5XQhzy2XrM95AyfW8f5BeWJiqr-LGXxU&libraries=geometry&callback=initMap">
</script>
	 
  </body>
</html>
