@(message: String)
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css-templates/treviso/css/style.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/airplane.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/airline.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/gadgets.js")"></script>
  </head>
  <body>
  
  	<div id="topBar" data-scroll="false" class="menubar">
  		Balance: <div id="balance"></div>
  	</div>
  	<div id="main" style="width: 100%" >
	    <div id="map" style="width: 80% ; float: left;" ></div>
	    <div id="leftPanel" style="width: 20% ; float: right;" >
	    	Airline: <select id="airlineOption" onchange="selectAirline($(this).val())"></select>
	    	<div>
	    		<div class="table" style="width: 100%">
	    			<input type="hidden" id="planLinkFromAirportId"/><br/>
	    			<input type="hidden" id="planLinkToAirportId"/><br/>
		    		<div class="table-row">
		    			<div class="label"><h5>From:</h5></div>
		    			<div class="value" id="planLinkFromAirportName"></div>
		    		</div>
		    		<div class="table-row">
		    			<div class="label"><h5>To:</h5></div>
		    			<div class="value" id="planLinkToAirportName"></div>
		    		</div>
	    			<div class="table-row">
		    			<div class="label"><h5>Distance:</h5></div>
		    			<div class="value" id="planLinkDistance"></div>
		    		</div>
		    		<div class="table-row">
		    			<div class="label"><h5>Aircraft:</h5></div>
		    			<div class="value"> <select id="planLinkAirplaneSelect" onchange="updatePlanLinkInfoWithAirplaneSelected($(this).val())"></select></div>
		    		</div>
		    		<div class="table-row">
		    			<div class="label"><h5>Flight Duration:</h5></div>
		    			<div class="value" id="planLinkDuration"></div>
		    		</div>
		    		<div class="table-row">
		    			<div class="label"><h5>Price:</h5></div>
		    			<div class="value"><input type="text" id="planLinkPrice"/></div>
		    		</div>
		    		<div class="table-row">
		    			<div class="label"><h5>Flight Frequency:</h5></div>
		    			<div class="value"><input type="text" id="planLinkFrequency"/></div>
		    		</div>
		    		<div class="table-row">
		    			<div class="label"><h5>Service Level:</h5></div>
		    			<div class="value"><div id="serviceLevelBar"></div><input type="hidden" id="planLinkServiceLevel" value="0"/></div>
		    			<script type="text/javascript">generateImageBar('@routes.Assets.versioned("images/icons/star-empty.png")', '@routes.Assets.versioned("images/icons/star.png")', 5, $("#serviceLevelBar"), $("#planLinkServiceLevel"))</script>
		    		</div>
		    		
	    		</div>
	    		
	    		
	    		<!--  Price: <input type="text" id="price" value="1000"/><br/> -->
	    		<div class="button" id="addLinkButton" onclick="createLink()">Create new route</div>
		    </div>
		   	<div class="button" id="removeAllLinksButton" onclick="removeAllLinks()">Remove all Links</div>	
	    	<div>
	    		Buy aircraft:<br/>
	    		Model : <select id="airplaneModelOption" onchange="updateModelInfo()"></select><br/>
	    		Quantity :  <input type="text" id="airplaneQuantity" value="1"/>
	    		<div id="modelInfo"></div> 
	    		<div class="button" onclick="addAirplane($('#airplaneModelOption').val(), $('#airplaneQuantity').val(), $('#airlineOption').val())">Purchase Aircrafts</div>
	    	</div>
	    	
	    	
	    	<div class="button" onclick="loadConsumptions()">Load Results</div>
	    	<div id="consumptions">
			</div>
			<div id="console" style="width: 80%">
				message: <br/>
			</div>    	
	    </div>
	    <div id="bottomPanel" style="width: 80% ; float: left;" >
	    	<div id="linkListPanel" style="width: 30% ; float: left;">
	    		<h4>Routes</h4>
	    		<div id="linkList"> </div>	
	    	</div>
	    	<div id="airplaneListPanel" style="width: 20% ; float: left;">
	    		<h4>Airplanes</h4>
	    		<div id="airplaneList"> </div>
	   		</div>
	    	<div id="detailsPanel" style="width: 50% ; float: left;">
	    		<div id="linkDetails" style="width: 100%; display: none;">
	    			<div class="table" id="linkCurrentDetails" style="width: 100%">
    					<h4>Current Details</h4>
	    				<div class="table-row">
		    				<div class="label"><h5>From:</h5></div>
		    				<div class="value" id="linkFromAirport"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>To:</h5></div>
		    				<div class="value" id="linkToAirport"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Distance:</h5></div>
		    				<div class="value" id="linkDistance"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Price:</h5></div>
		    				<div class="value" id="linkCurrentPrice"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Overall Quality:</h5></div>
		    				<div class="value" id="linkQuality"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Capacity:</h5></div>
		    				<div class="value" id="linkCurrentCapacity"></div>
		    			</div>
		    		</div>
		    		<div class="table" id="linkHistoryDetails" style="width: 100%">
	    				<h4>History</h4>	
		    			<div class="table-row">
		    				<div class="label"><h5>Price:</h5></div>
		    				<div class="value" id="linkHistoryPrice"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Capacity:</h5></div>
		    				<div class="value" id="linkHistoryCapacity"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Load Factor:</h5></div>
		    				<div class="value" id="linkLoadFactor"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Profit:</h5></div>
		    				<div class="value" id="linkProfit"></div>
		    			</div>
	    			</div>
	    			<input type="hidden" id="actionLinkId"></input>
	    			<div class="button" onclick="deleteLink($('#actionLinkId').val())">Delete Route</div>
	    		</div>
	    		<div id="airplaneDetails" style="width: 100%; display: none;">
	    			<div class="table" style="width: 100%">
    					<div class="table-row">
		    				<div class="label"><h5>Aircraft Id:</h5></div>
		    				<div class="value" id="airplaneDetailsId"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Model Name:</h5></div>
		    				<div class="value" id="airplaneDetailsName"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Capacity:</h5></div>
		    				<div class="value" id="airplaneDetailsCapacity"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Fuel Burn:</h5></div>
		    				<div class="value" id="airplaneDetailsFuelBurn"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Flight Range:</h5></div>
		    				<div class="value" id="airplaneDetailsRange"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Aircraft Condition:</h5></div>
		    				<div class="value" id="airplaneDetailsCondition"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Aircraft Age:</h5></div>
		    				<div class="value" id="airplaneDetailsAge"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Selling Value:</h5></div>
		    				<div class="value" id="airplaneDetailsValue"></div>
		    			</div>
		    			<div class="table-row">
		    				<div class="label"><h5>Assigned Route:</h5></div>
		    				<div class="value" id="airplaneDetailsLink"></div>
		    			</div>
		    		</div>
    				<input type="hidden" id="actionAirplaneId"></input>
	    			<div class="button" onclick="sellAirplane($('#airlineOption').val(), $('#actionAirplaneId').val())">Sell Aircraft</div>
	    		</div>
	    	</div>
	    </div>
	     
	    <div style="clear:both"/>
    </div>
    
    <div style="display: none; width: 100%;" id="airportPopup">
    	<h3 id="airportPopupName"></h3>
    	<div class="table" style="width: 100%">
   			<div class="table-row">
   				<div class="label"><h5>IATA code:</h5></div>
   				<div class="value" id="airportPopupIata"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Country code:</h5></div>
   				<div class="value" id="airportPopupCountryCode"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Airport Scale:</h5></div>
   				<div class="value" id="airportPopupSize"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Population coverage:</h5></div>
   				<div class="value" id="airportPopupPopulation"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Average income level:</h5></div>
   				<div class="value" id="airportPopupIncomeLevel"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Awareness of your airline:</h5></div>
   				<div class="value" id="airportPopupAwareness"></div>
   			</div>
   			<div class="table-row">
   				<div class="label"><h5>Loyalty to your airline:</h5></div>
   				<div class="value" id="airportPopupLoyalty"></div>
   			</div>
   			<input type="hidden" id="airportPopupId"></input>
		</div>
		<div class="button" id="planFromAirportButton">Plan Route (from airport)</div>
		<div class="button" id="planToAirportButton">Plan Route (to airport)</div> 
    </div>
    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5XQhzy2XrM95AyfW8f5BeWJiqr-LGXxU&callback=initMap">
</script> 
  </body>
</html>
