/* COLORPICKER 1 EXAMPLE */
#colorPicker1
{
    width:          30px;
    height:         30px;
    position: relative;
    clear: both;
    //margin: 80px auto 20px;
}

#colorPicker1 .track {
    background:     #EFEFEF url(images/color-palette.png) no-repeat 50% 50%;
    height:         53px;
    width:          255px;
    //padding:        10px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           85px;
    top:            -31px;
    display:        none;
    border:         1px solid #ccc;
    z-index:        11;
}

#colorPicker1 .color {
    width:          75px;
    height:         25px;
    line-height:    25px;
    text-decoration : none;
    padding:        1px;
    border:         1px solid #ccc;
    display:        block;
    position:       relative;
    z-index:        11;
    color:           #666;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
    padding: 0 0 0 10px;
}

#colorPicker1 .colorInner {
    width:          25px;
    height:         25px;
    float: right;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border-left: 3px solid #ccc;
}

#colorPicker1 .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPicker1 .dropdown li{
    height: 25px;
    cursor: pointer;
}


#colorPicker2
{
    width:          30px;
    height:         30px;
    position: relative;
    clear: both;
}

#colorPicker2 .track {
    background:     #EFEFEF url(images/color-palette.png) no-repeat 50% 50%;
    height:         53px;
    width:          255px;
    //padding:        10px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           85px;
    top:            -31px;
    display:        none;
    border:         1px solid #ccc;
    z-index:        11;
}

#colorPicker2 .color {
    width:          75px;
    height:         25px;
    line-height:    25px;
    text-decoration : none;
    padding:        1px;
    border:         1px solid #ccc;
    display:        block;
    position:       relative;
    z-index:        10;
    color:           #666;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
    padding: 0 0 0 10px;
}

#colorPicker2 .colorInner {
    width:          25px;
    height:         25px;
    float: right;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border-left: 3px solid #ccc;
}

#colorPicker2 .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 26px;
    border: 1px solid #ccc;
    right: 0;
    z-index: 1000;
}

#colorPicker2 .dropdown li{
    height: 25px;
    cursor: pointer;
}




#colorPicker3
{
    position: relative;
    clear: both;
}

#colorPicker3 .track {
    background:     #EFEFEF url(images/color-palette.png) no-repeat 50% 50%;
    height:         53px;
    width:          255px;
    //padding:        10px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           35px;
    top:            -31px;
    display:        none;
    border:         1px solid #ccc;
}

#colorPicker3 .color {
    width:          15px;
    height:         15px;
    padding:        1px;
    border:         1px solid #ccc;
    display:        block;
    position:       relative;
    background-color: #EFEFEF;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    cursor: pointer;
}

#colorPicker3 .colorInner {
    width:          15px;
    height:         15px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}

#colorPicker3 .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPicker3 .dropdown li{
    height: 25px;
    cursor: pointer;
}
