body {
    background: linear-gradient(to bottom, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%), url(../images/background/pixel_city_1.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

