#campaignModal input {
    font-size: 20px;
    background-color: #cbdff2;
    border: 1px solid #BEBEBE;
    box-shadow: 0 0 2px inset rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    color: #5f6368;
}


#campaignModal input::placeholder {
	color: #A9A9A9;
}

#campaignModal input[type=text]:focus {
    background-color: #ffffff;
    box-shadow: 0 0 2px inset rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

#campaignModal .search.button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

	font: 400 18px/16px Roboto, HelveticaNeue, Arial, sans-serif;
	/*font-family:Arial;
	font-size:15px;
	font-weight:bold;*/
	width: 200px;
    text-align: center;
    display: block;
    margin : 10px auto;

}

