#main {
	margin-top: 40px;
}
#map {
/*     width: 500px; */
    height: 500px;
    background-color: #FFF;
}
.table {
	display: table;
}
.table .label {
	display: table-cell;
	width: 40%;
	 
}
.table .value {
	display: table-cell;
	width: 60%;
}
.table .table-row {
	display: table-row;
	width: 100%;
}
.table .table-header {
	display: table-caption;
	width: 100%;
}


img.button {
	cursor: pointer
}
	