logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
/.settings/
/.cache-main
/.cache-tests
/.sbtserver
/conf/gmail-credentials.json
/conf/google-oauth-credentials.json
/google-tokens/
